<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="../static/groupmanager/style.css"
          th:href="@{/groupmanager/style.css}"/>
    <title>Members</title>
</head>
<body>
    <h1>
        Error 404: <th th:text="${subject}">page</th> not found!
    </h1>
</body>
</html>