<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/groupmanager/groupMenu.css" th:href="@{/groupmanager/groupMenu.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Patua One' rel='stylesheet'>
    <title>Dashboard</title>
</head>
<body>

    <h1>Dashboard</h1>

    <a href="#">    <!-- TODO: adjust link to edit-account -->
        <img src="../static/groupmanager/imgs/services-128.png" th:src="@{groupmanager/imgs/services-128.png}" alt="" id="editImg">
    </a>

    <div class="members-bar">
        <div class="memberTitleBox">
            <h2>Members</h2>
        </div> 
        <div class="membersList">
            <table class="memTable">
                <!-- List of Admins -->
                <tr class="memTr"> <!-- TODO: adjust -->
                    <td class="memTd">
                        <img src="../static/groupmanager/imgs/crown-3-128.png" alt=" " th:src="@{/groupmanager/imgs/crown-3-128.png}">
                    </td>
                    <td class="memTd">
                        <p th:text="${owner.getUserName()}">Invite your friends!</p>
                    </td>
                    <td class="memTd">
                        <img th:if="member.hasSubmitted" src="../static/groupmanager/imgs/checkmark-128.png" alt="" th:src="@{/groupmanager/imgs/checkmark-128.png}">
                    </td>
                </tr>

                <tr class="memTr" th:each="member: ${adminList}"> <!-- TODO: adjust -->
                    <td class="memTd">
                        <img src="../static/groupmanager/imgs/crown-3-128.png" alt=" " th:src="@{/groupmanager/imgs/crown-3-128.png}">
                    </td>
                    <td class="memTd">
                        <p th:text="${member.getUserName()}">You</p>
                    </td>
                    <td class="memTd">
                        <img th:if="member.hasSubmitted" src="../static/groupmanager/imgs/checkmark-128.png" alt="" th:src="@{/groupmanager/imgs/checkmark-128.png}">
                    </td>
                </tr>

                <!-- List of the other Members -->
                <tr class="memTr" th:each="member: ${memberList}"> <!-- TODO: adjust -->
                    <td class="memTd">
                        &emsp;
                    </td>
                    <td class="memTd">
                        <p th:text="${member.getUserName()}">Invite your friends!</p>
                    </td>
                    <td class="memTd">
                        <img th:if="member.hasSubmitted" src="../static/groupmanager/imgs/checkmark-128.png" alt=""
                             th:src="@{groupmanager/imgs/checkmark-128.png}">
                    </td>
                </tr>
            </table>
        </div>

        <div class="inviteMember">
            <form action="">

                <div class="inviteUsername">
                    <input type="text" name="inviteEmail" id="inviteEmail" placeholder="username"
                           th:src="@{/groupmanager/imgs/checkmark-128.png}">
                </div>

                <div class="inviteButton">
                    <input type="button" value="add a new friend" id="inviteButton">
                </div>
            </form>
            
        </div>
    </div>

    <div class="chat">
        <rewe-digital-include path="https://some.path/to/fragment"></rewe-digital-include>
        Chat
    </div>

    <div class="shipping-information">
        <table class="delTable">
            <tr class="delTr">
                <td class="delTd">delivery date:</td>
                <td class="delTd">
                    <!-- TODO: adjust! -->
                    Mo, 01.01.2020
                </td>
                <td class="delTd">
                    <input type="image" src="../static/groupmanager/imgs/edit.png"
                           th:src="@{/groupmanager/imgs/edit.png}"/>
                </td>
            </tr>
            <tr class="delTr">
                <td class="delTd">delivery adress:</td>
                <td class="delTd">
                    <!-- TODO: adjust! -->
                    123456 Model City, <br>
                    Modelstreet 42
                </td>
                <td class="delTd">
                    <input type="image" src="../static/groupmanager/imgs/edit.png"
                           th:src="@{/groupmanager/imgs/edit.png}"/>
                </td>
            </tr>
    </table>        
    </div>

    <div class="orderButton">
        <input type="button" id="orderButton" value="order">
    </div>

    <div class="shopping-list">
        <rewe-digital-include path="https://some.path/to/fragment"></rewe-digital-include>
        Shopping-List
    </div>

    <!--Work in progress! <th th:text="*{groupId}"></th>  --> 
</body>
</html>