<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title>StudiLieferservice</title>
        <link rel="stylesheet" type="text/css" href="./css/style.css"/>
        
    </head>
    <body>
        <div class="header">
            <div class="logo">REWE</div>
            <div class="logoAdd">StudiLieferservice</div>
            <div class="headerTitle">Gruppenwahl</div>
        
        </div>

        <div class="availableGroups">
            <div class="avGrTitle">
                Verfuegbare Gruppen
            </div>
            <!--<div class="avGrBody">
                <tbody>
                    <tr th:each="gruppe: ${groupList}">
                        <div class="avGroupElement">
                            <td th:text="${Group.name}">
                            <td>DELETE ME</td>
                            <td>Lorem ipsum</td>
                        </div>
                    </tr>
                </tbody>
            </div>-->
            <div class="avGrBody">
                <ul>
                <th:block th:object="${groupList}">
                   <li th:each="*{getAllGroups}" th:text="${Group.getName}"></li>
                   <li>Lorem ipsum</li>
                   <li>dolor sit</li>
                </th:block>
                </ul>
            </div>
        </div>

        <div class="createGroup">
            <div class="crGrTitle">
                Neue Gruppe erstellen
            </div>
            <div class="crGrBody">
                <form action="*{/createGroup}" th:object="${Group}" method="POST">
                    <label for="groupname" id="selectGroupname">Gruppennamen eingeben</label>
                    <input type="text" id="groupname" th:field="*{name}" />
                    <input type="submit" value="Weiter" />
                </form>
            </div>
        </div>

        <div class="footer">
            <div class="impres">Impressum</div>
        </div>
    </body>
</html>