<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="../static/groupmanager/style.css" th:href="@{/groupmanager/style.css}"/>
    <title>Test</title>
</head>
<body>
    <th th:if="${sessionMessages.size() == 0}">
        <h2>You can enter a new Message</h2>
        <form th:action="@{/web/persistMessage}" th:object="${form}" method="POST" >
            <textarea name="msg" th:field="*{msg}" cols="40" rows="2"></textarea>
            <br> <input type="submit" value="Save Message" class="submitButton" th:method="POST"/>
        </form>
    </th>
    <th th:unless="${sessionMessages.size() == 0}">
        <h2 th:text="${sessionMessages.get(0)}"> Error </h2>
    </th>
</body>
</html>