<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Patua One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/style.css}"/>
    <title>StudiLieferservice</title>
</head>

<body>

<h1>Groups</h1>

<!-- ##############################################################################################-->
<!-- ##############################################################################################-->


<!-- ##################
     #### Column 1 ####
     #### MY GOUPS ####
     ##################-->
     <div class="col1">

        <!-- Subheading -->
        <div class="subtitle">
            <h2>My Groups</h2>
        </div>
    
        <!-- Searchbar -->
        <div class="col1Search">
            <input type="text" name="myGroupSearch" id="myGroupSearch" placeholder="Search">
        </div>
    
        <div class="groupList">
            <form  th:action="@{/web/group/getList}" method="GET" >
                <div class="listBox">
                    
                    <!-- Explanation:
                            - th:each iterates over the groupList with variable gruppe
                            - th:field and th:for belongs together for design puposes
                            - th:value shows, what is sent to controller when submited
                            - th:text is the output-text-label what is displayed
                    -->
                    <li th:each="gruppe : ${groupList}">
                        <input type="radio" th:field="${gruppe.id}" th:value="${gruppe.id}" name="list" />
                        <label th:for="${gruppe.id}" th:text="${gruppe.groupName}">No Groups Available</label>
                    </li>
                    <li>
                        <input type="radio" id="a1" value="Gruppe1" name="list">
                        <label for="a1">Gruppe1</label>
                    </li>
                    <li>
                        <input type="radio" id="a2" value="Gruppe2" name="list">
                        <label for="a2">Gruppe2</label>
                    </li>
                    <li>
                        <input type="radio" id="a3" value="Gruppe3" name="list">
                        <label for="a3">Gruppe3</label>
                    </li>
                    <li>
                        <input type="radio" id="a4" value="Gruppe4" name="list">
                        <label for="a4">Gruppe4</label>
                    </li>
                    <li>
                        <input type="radio" id="a5" value="Gruppe5" name="list">
                        <label for="a5">Gruppe5</label>
                    </li>
                    <li>
                        <input type="radio" id="a6" value="Gruppe6" name="list">
                        <label for="a6">Gruppe6</label>
                    </li>
                    <li>
                        <input type="radio" id="a7" value="Gruppe7" name="list">
                        <label for="a7">Gruppe7</label>
                    </li>
    
                </div>
                <div class="submitBox">
                    <input type="submit" value="continue" class="submitButton"/>
                </div>
                
            </form>
        </div>
    </div>

<!-- ##############################################################################################-->
<!-- ##############################################################################################-->


<!-- ####################
     ####  Column 2  ####
     #### INVITATION ####
     ####################-->

<div class="col2">
    <div class="subtitle">
        <h2>Invites</h2>
    </div>
    <div class="list">
        <th:block th:each="invite: ${invites}">
            <li>
                <input th:id="*{invite.id}" class="radio isHidden" name="listElement" type="radio">
                <label th:for="*{invite.getId()}" class="label" th:text="*{invite.groupName}"></label>
            </li>
        </th:block>
    </div>

    <form th:action="@{/web/acceptInvite}" method="GET"> <!-- TODO adjust th:action -->
        <div class="submitBox">
            <input type="submit" value="continue" class="submitButton"/>
        </div>
        <input type="hidden" name="groupId" th:value="${invites.get(0).id}" />
        <input type="hidden" name="email" th:value="${user}" />
    </form>
</div>



<!-- ##############################################################################################-->
<!-- ##############################################################################################-->



<!-- ###################
     #### Column 3  ####
     #### NEW GROUP ####
     ###################-->

<div class="col3">
    <div class="subtitle">
        <h2>Create new Group</h2>
    </div>
    owner: <th th:text="${user}"></th>
    <div class="createGroup">
        <form th:action="@{/web/save-group}" th:object="${creationForm}" method="POST">
            <div class="inputGroupName">
                <input type="text" id="groupname" th:field="*{groupName}" placeholder="Groupname">
            </div>

            <input type="hidden" id="user" name="user" th:value="${user}">

            <div class="addGroup">
                <input type="submit" value="add" class="submitButton">
            </div>
        </form>
    </div>
</div>

<!--div class="col3">
    <div class="subtitle">
        <h2>All Groups</h2>
    </div>

    <div class="col3Search">
        <label for="allGroupSearch"></label>
        <input type="text" name="allGroupSearch" id="allGroupSearch" placeholder="Search">
    </div>

    <th:block th:each="gruppe: ${groupList}">
        <div class="list">
-->
<!-- FIXME delete Demo Objects -->
<!--
            <li>
                <input id="radio_11" class="radio isHidden" name="test" type="radio">
                <label for="radio_11" class="label">Test1</label>
            </li>
            <li>
                <input id="radio_22" class="radio isHidden" name="test" type="radio">
                <label for="radio_22" class="label">Test2</label>
            </li>
            <li>
                <input id="radio_33" class="radio isHidden" name="test" type="radio">
                <label for="radio_33" class="label">Test2</label>
            </li>


            <li>
                <input th:id="*{gruppe.id}" class="radio isHidden" name="listElement" type="radio">
                <label th:for="*{gruppe.id}" class="label" th:text=*{gruppe.groupName}></label>
            </li>

        </div>
        <form th:action="@{/web/group/getList}" method="GET">
-->
 <!-- TODO adjust th:action -->
<!--
            <div class="submitBox">
                <input type="submit" value="ask" class="submitButton"/>
            </div>
            <input type="hidden" name="id" th:value="${gruppe.id}" />
        </form>
    </th:block>
</div>
-->
<!-- ##############################################################################################-->
<!-- ##############################################################################################-->


<!-- #################-->
<!-- #### Column 4 ###-->
<!-- #################-->

</body>

</html>