<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" data-rd-options="include" type="text/css" href="../static/groupmanager/style.css" th:href="@{/groupmanager/style.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Patua One' rel='stylesheet'>
    <title>StudiLieferservice</title>
</head>

<body>

<h1>Groups</h1>

<!-- ##############################################################################################-->
<!-- ##############################################################################################-->

<!-- ##################
     #### Column 1 ####
     #### MY GOUPS ####
     ##################-->
     <div class="col1">

        <!-- Subheading -->
        <div class="subtitle">
            <h2>My Groups</h2>
        </div>
    
        <!-- Searchbar -->
        <div class="col1Search">
            <input type="text" name="myGroupSearch" id="myGroupSearch" placeholder="Search">
        </div>
    
        <div class="groupList">
            <form  th:action="${'http://' + link + ':9010/web/groupMenuFwd'}" method="GET" >
                <div class="listBox">
                    
                    <!-- Explanation:
                            - th:each iterates over the groupList with variable "gruppe"
                            - th:field and th:for belongs together for design purposes
                            - th:value shows, what is sent to controller when submited
                            - th:text is the output-text-label what is displayed
                    -->
                    <li th:each="gruppe : ${groupsWhereOwner}">
                        <input type="radio" th:id="${gruppe.id}" th:value="${gruppe.id}" name="list" />
                        <label th:for="${gruppe.id}" th:text="${gruppe.groupName}"></label>
                    </li>
                    <li th:each="gruppe : ${groupsWhereAdmin}">
                        <input type="radio" th:id="${gruppe.id}" th:value="${gruppe.id}" name="list" />
                        <label th:for="${gruppe.id}" th:text="${gruppe.groupName}"></label>
                    </li>
                    <li th:each="gruppe : ${groupsWhereMember}">
                        <input type="radio" th:id="${gruppe.id}" th:value="${gruppe.id}" name="list" />
                        <label th:for="${gruppe.id}" th:text="${gruppe.groupName}"></label>
                    </li>
                    <th th:if="${groupsWhereOwner.isEmpty() && groupsWhereMember.isEmpty() && groupsWhereAdmin.isEmpty()}">
                        <label>No Groups Available!</label>
                    </th>
    
                </div>
                <div class="submitBox">
                    <input type="submit" value="continue" class="submitButton"/>
                </div>
                
            </form>
        </div>
    </div>

<!-- ##############################################################################################-->
<!-- ##############################################################################################-->

<!-- ####################
     ####  Column 2  ####
     #### INVITATION ####
     ####################-->

<div class="col2">
    <div class="subtitle">
        <h2>Invites</h2>
    </div>
    <!--  
    <th th:if="${!invites.isEmpty()}">
            <form th:action="${'http://' + link + ':9010/web/acceptInvite'}" method="GET"> 
        <div class="list">
            <th:block th:each="invite: ${invites}">
                <li>
                    <input th:id="*{invite.id}" class="radio isHidden" name="listElement" type="radio">
                    <label th:for="*{invite.getId()}" class="label" th:text="*{invite.groupName}">Test</label>
                </li>
            </th:block>
        </div>

            <div class="submitBox">
                <input type="submit" value="continue" class="submitButton"/>
            </div>
            <input type="hidden" name="groupId" th:value="${invites.get(0).id}" />
            <input type="hidden" name="email" th:value="${user}" />
        </form> 
    </th>
    -->
    <th th th:if="${!invites.isEmpty()}">
        <th:block th:each="invite: ${invites}"> 
            <table>
                <tr>
                    <td>
                        <form th:action="${'http://' + link + ':9010/web/acceptInvite'}" method="GET">   <!-- TODO: edit th:action to ignoreInvite -->
                            <div class="inviteImage">
                                <input type="image" src="../static/groupmanager/imgs/x-mark-128.png" th:src="@{groupmanager/imgs/x-mark-128.png}" alt="-" />
                            </div>
                            <input type="hidden" name="groupId" th:value="${invites.get(0).id}" />
                            <input type="hidden" name="email" th:value="${user}" />
                        </form>
                    </td>
                    <td>
                        <input th:id="*{invite.id}" class="radio isHidden" name="listElement" type="radio">
                        <label th:for="*{invite.getId()}" id="invLabel" th:text="*{invite.groupName}">Test2</label>
                    </td>
                    <td>
                        <form th:action="${'http://' + link + ':9010/web/acceptInvite'}" method="GET"> 
                            <div class="inviteImage">
                                <input type="image" src="../static/groupmanager/imgs/checkmark-128.png" th:src="@{groupmanager/imgs/checkmark-128.png}" alt="-" />
                            </div>
                            <input type="hidden" name="groupId" th:value="${invites.get(0).id}" />
                            <input type="hidden" name="email" th:value="${user}" />
                        </form>
                    </td>
                </tr>
            </table>
        </th:block>
    </th>
</div>

<!-- ##############################################################################################-->
<!-- ##############################################################################################-->

<!-- ###################
     #### Column 3  ####
     #### NEW GROUP ####
     ###################-->

<div class="col3">
    <div class="subtitle">
        <h2>Create new Group</h2>
    </div>
    <div class="createGroup">
        <form th:action="${'http://' + link + ':9010/web/save-group'}" th:object="${creationForm}" method="POST">
            <div class="inputGroupName">
                <input type="text" id="groupname" th:field="*{groupName}" placeholder="Groupname">
            </div>

            <input type="hidden" id="user" name="user" th:value="${user}">

            <div class="addGroup">
                <input type="submit" value="add" class="submitButton">
            </div>
        </form>
    </div>
</div>

</body>

</html>