<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="../static/usermanager/css/error.css" th:href="@{/usermanager/css/error.css}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Patua One' rel='stylesheet'>


    <title>Registered</title>
</head>

<body>
    <div class="navbar">
        <nav>      
            <ul>
                <li>
                    <a class="nav-link" href="/web/usermanager/register">Register</a>
                </li>
    
                <li>
                    <a class="nav-link" href="/web/usermanager/login">Login</a>
                </li>
    
                <li>
                    <a class="nav-link" href="/web/usermanager/about">About</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="jumbotron">
        <p><h1>Oops! Something went wrong</h1>
        <p><h3>Please try again</h3>
    </div>

</body>

</html>







