<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <link rel="stylesheet" href="../static/css/index.css">

    <title>Studi-Lieferservice</title>
</head>

<body>
    <div class="jumbotron">
        <p><img src="../static/img/StuLiLogo.png" alt=""></p>
        <br>
        <p><h1>Welcome! Glad you are here</h1></p>
        <p><h3>Continue to Register or Login</h3></p>
    </div>
    <div class="navbar">
        <nav>      
            <ul>
                <li>
                    <a class="nav-link" href="/register">Register</a>
                </li>
    
                <li>
                    <a class="nav-link" href="/login">Login</a>
                </li>
    
                <li>
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>


</body>

</html>