body{
    margin: 0px;
}
.header{
    height: 50px;
    background: red;
}

.headerTitle{
    position: absolute;

    width: 171px;
    height: 36px;
    left: calc(50% - 171px/2 - 0.5px);
    top: 5px;

    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.logo{
    position: absolute;
    left: 18px;
    top: 5px;

    font-family: Rounded Mplus 1c;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 40px;

    color: #FFFFFF;
}

.logoAdd{
    position: absolute;
    width: 201.56px;
    height: 35.32px;
    left: 95px;
    top: 13px;

    font-family: Rounded Mplus 1c;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
}

.availableGroups{
    position: fixed;
    left: 20%;
    top: 100px;
    height: 60%;
    width: 20%;
    padding: 20px;
    background: rgb(252, 45, 45);
    -webkit-box-shadow: 7px 10px 6px -6px rgba(0,0,0,0.8); 
    box-shadow: 7px 10px 6px -6px rgba(0,0,0,0.8);
    border-radius: 20px;
}

.avGrTitle{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    padding-bottom: 20px;
    font-weight: bold;
    color: white;
}

.avGroupElement,li{
    color: rgb(0, 0, 0);
    left: 0%;
    padding: 10px;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 157, 157);
    text-align: center;
    border-radius: 15px;
    -webkit-box-shadow: 6px 8px 11px -4px rgba(0,0,0,0.61);
    -moz-box-shadow: 6px 8px 11px -4px rgba(0,0,0,0.61);
    box-shadow: 6px 8px 11px -4px rgba(0,0,0,0.61);
    list-style-type: none;
}

.createGroup{
    position: fixed;
    right: 20%;
    top: 100px;
    height: 60%;
    width: 20%;
    padding: 20px;
    background: rgb(252, 45, 45);
    -webkit-box-shadow: 7px 10px 6px -6px rgba(0,0,0,0.8); 
    box-shadow: 7px 10px 6px -6px rgba(0,0,0,0.8);
    border-radius: 20px
}

#selectGroupname{
    text-align: center;
}

.crGrTitle{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.footer{
    position: fixed;
    height: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}