<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="../../static/usermanager/css/style.css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" href="../../static/usermanager/css/united/bootstrap.min.css" th:href="@{css/united/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>
</head>

<body>
    <div th:replace="fragments/header::header"></div>
    <div th:replace="fragments/footer::footer"></div>
    <div th:layout:fragment="content"></div>
</body>

</html>