<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" href="../static/css/united/bootstrap.min.css" th:href="@{css/united/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>

    <link rel="stylesheet" href="../../static/css/about.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Patua One' rel='stylesheet'>

    <title>About</title>
</head>

<body>
    <div class="logo">
        <input id="logo" type="image" src="../../static/img/StuLiLogo.png" alt="">
    </div>
    
    <div  th:layout:fragment="content" class="container mySpace">
        <div class="jumbotron">
            <p><h1>What does this service do?</h1></p>
            <p><h3>With StudiLieferservice you can create groups to order your groceries together and save the delivery costs.</h3></p>
            <br>
            <p><h2>Continue to Register or Login!</h2></p>
        </div>
    </div>

    <div class="navbar">
        <nav>      
            <ul>
                <li>
                    <a class="nav-link" href="/register">Register</a>
                </li>
    
                <li>
                    <a class="nav-link" href="/login">Login</a>
                </li>
    
                <li>
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>


</body>

</html>