<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="../../static/usermanager/css/about.css" th:href="@{/usermanager/css/about.css}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Patua One' rel='stylesheet'>

    <title>About</title>
</head>

<body>
    <div class="logo">
        <input id="logo" type="image" src="../../static/usermanager/img/StuLiLogo.png" th:src="@{/usermanager/img/StuLiLogo.png}" alt="">
    </div>
    
    <div  th:layout:fragment="content" class="container mySpace">
        <div class="jumbotron">
            <p><h1>What does this service do?</h1>
            <p><h3>With StudiLieferservice you can create groups to order your groceries together and save the delivery costs.</h3>
            <br>
            <p><h2>Continue to Register or Login!</h2>
        </div>
    </div>

    <div class="navbar">
        <nav>      
            <ul>
                <li>
                    <a class="nav-link" href="/web/usermanager/register">Register</a>
                </li>
    
                <li class="list">
                    <a class="nav-link" href="/web/usermanager/login">Login</a>
                </li>
    
                <li class="list">
                    <a class="nav-link" href="/web/usermanager/about">About</a>
                </li>
            </ul>
        </nav>
    </div>

</body>

</html>