<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="../../static/usermanager/css/editaccount.css" th:href="@{usermanager/css/editaccount.cs}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Patua One' rel='stylesheet'>
    <title>Edit Account</title>
</head>

<body>
    <a href="">back</a> <!-- TODO: Link back to Dashboard -->

    <h1>Edit your Account</h1>

    <form th:action="@{/edit}" th:object="${user}" method="POST">
        <table class="center">
            <tr>
                <td><p>First Name</p></td>
                <td><input type="text" class="inputField" th:field="*{firstName}" id="firstName"/></td>
                <td><div class="red_p" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div></td>
            </tr>
        </table>        

        <table class="center">
            <tr>
                <td><p>Last Name</p></td>
                <td><input type="text" class="inputField" th:field="*{lastName}" id="lastName"/></td>
                <td><div class="red_p" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div></td>
            </tr>
        </table>
        
        <table class="center">
            <tr>
                <td><p>Username</p></td>
                <td><input type="text" class="inputField" th:field="*{userName}" id="userName"/></td>
                <td><div class="red_p" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div></td>
            </tr>
        </table>           
        
        <table class="center">
            <tr>
                <td><p>Street</p></td>
                <td><input type="text" class="inputField" th:field="*{street}" id="street"/></td>
                <td><div class="red_p" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></div></td>
            </tr>
        </table>

        <table class="center">
            <tr>
                <td><p>City</p></td>
                <td><input type="text" class="inputField" th:field="*{city}" id="city"/></td>
                <td><div class="red_p" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div></td>
            </tr>
        </table>

        <table class="center">
            <tr>
                <td><p>ZIP</p></td>
                <td><input type="text" class="inputField" th:field="*{zip}" id="city"/></td>
                <td><div class="red_p" th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"></div></td>
            </tr>
        </table>

    <!--
            <div class="inputField
                <label for="password" class="inputField-label">Old Password</label> <input
                    type="password" class="inputField" th:field="*{password}"
                    id="password" />
                <div class="text text-danger"
                        th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div >

            <div class="inputField
                <label for="password" class="inputField-label">New Password</label> <input
                    type="text" class="inputField" th:field="*{password}" id="password" />
                <div class="text text-danger" th:if="${#fields.hasErrors('password')}"
                        th:errors="*{password}"></div>
            </div>
    -->
        <div class="submit">
            <input type="submit" value="Submit" id="submit"/>
        </div>
    </form>
</body>

</html>