<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/usermanager/css/login.css" th:href="@{/usermanager/css/login.css}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Patua One' rel='stylesheet'>
</head>
<body>
    <div class="logo">
        <input id="logo" type="image" src="../../static/usermanager/img/StuLiLogo.png" th:src="@{/usermanager/img/StuLiLogo.png}" alt="">
    </div>
    
    <div class="navbar">
        <nav>      
            <ul>
                <li>
                    <a class="nav-link" href="/web/usermanager/register">Register</a>
                </li>
                
                <li>
                    <a class="nav-link" href="/web/usermanager/login">Login</a>
                </li>
                
                <li>
                    <a class="nav-link" href="/web/usermanager/about">About</a>
                </li>
            </ul>
        </nav>
    </div>
    
    <h1>Login</h1>

    <form th:action="${'http://' + link + ':9080/web/usermanager/loginFwd'}" th:object="${user}" method="GET">

        <div class="box">
            <div class="text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            <input type="text" class="input" th:field="*{email}" id="email" placeholder=" " autocomplete="off" />
            <label for="email" class="label">E-Mail</label> 
        </div>

        <div class="box">
            <input class="input" type="password"  th:field="*{password}" id="password" placeholder=" " />
            <label for="password" class="label">Password</label> 
            <div class="text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div >
        <div class="submit">
            <input type="submit" value="Sign In" id="submit"/>
        </div>
    </form>
</body>
</html>