<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="../static/usermanager/css/style.css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" href="../static/usermanager/css/united/bootstrap.min.css" th:href="@{css/united/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>

    <title>Registered</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">SWP-09 </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/register">Register <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="hidden"/>
                <!-- <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button> -->
            </form>
        </div>
    </nav>

    <div  th:layout:fragment="content" class="container mySpace">
        <div class="jumbotron">
            <p><h3>Please check if:</h3></p>
            <p><h3> The Email address is valid </h3></p>
            <p><h3>The password contains atleast 8 characters</h3></p>
            <p><h3>Any field is empty and try again</h3></p>
        </div>
    </div>

    <div id="footer">
        <p>
            &copy; 2020 Rewe SWP09
        </p>
    </div>
</body>

</html>




