<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="../../static/usermanager/css/registerForm.css" th:href="@{usermanager/css/registerForm.css}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Patua One' rel='stylesheet'>

    <title>Registration</title>
</head>
<body>
    <div class="logo">
        <input id="logo" type="image" src="../../static/usermanager/img/StuLiLogo.png" th:src="@{usermanager/img/StuLiLogo.png}" alt="">
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/register">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="hidden"/>
                <!-- <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button> -->
            </form>
        </div>
    </nav>

    <h1>Register</h1>

    <div class="stylepadding">
        <form th:action="@{/register}" th:object="${user}" method="POST">
            <div class="box" >
                <input class="input" type="text" th:field="*{firstName}" id="firstName" placeholder=" " />
                <label for="firstName" class="label">First Name</label> 
                <div class="text text-danger" th:if="${#fields.hasErrors('firstName')}"
                     th:errors="*{firstName}"></div>
            </div>

            <div class="box" >
                <input type="text" class="input" th:field="*{lastName}" id="lastName" placeholder=" " />
                <label for="lastName" class="label">Last Name</label> 
                <div class="text text-danger" th:if="${#fields.hasErrors('lastName')}"
                     th:errors="*{lastName}"></div>
            </div>

            <div class="box" >
                <input type="text" class="input" th:field="*{userName}" id="userName" placeholder=" " />
                <label for="userName" class="label">User Name</label> 
                <div class="text text-danger" th:if="${#fields.hasErrors('userName')}"
                     th:errors="*{userName}"></div>
            </div>

            <div class="box" >
                <input type="text" class="input" th:field="*{street}" id="street" placeholder=" " />
                <label for="street" class="label">Street</label> 
                <div class="text text-danger" th:if="${#fields.hasErrors('street')}"
                     th:errors="*{street}"></div>
            </div>

            <div class="box" >
                <input type="text" class="input" th:field="*{city}" id="city" placeholder=" "/>
                <label for="city" class="label">City</label> 
                <div class="text text-danger" th:if="${#fields.hasErrors('city')}"
                     th:errors="*{city}"></div>
            </div>

            <div class="box" >
                <input type="text" class="input" th:field="*{zip}" id="zip" placeholder=" "/>
                <label for="zip" class="label">ZIP</label> 
                <div class="text text-danger" th:if="${#fields.hasErrors('zip')}"
                     th:errors="*{zip}"></div>
            </div>

            <div class="box">
                <input type="text" class="input" th:field="*{email}" id="email" placeholder=" " />
                <label for="email" class="label">Email</label> 
                <div class="text text-danger" th:if="${#fields.hasErrors('email')}"
                     th:errors="*{email}"></div>
            </div>

            <div class="box">
                <input type="password" class="input" th:field="*{password}" id="password" placeholder=" "/>
                <label for="password" class="label">Password</label> 
                <div class="text text-danger"
                     th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div >

            <div class="submit">
                <input type="submit" value="Submit" id="submit"/>
            </div>
        </form>
    </div>

</body>

</html>