<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="../../static/user-manager/css/successedLogout.css" th:href="@{user-manager/css/successedLogout.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Patua One' rel='stylesheet'>
    <title>Logout</title>
</head>

<body>

    <div class="logo">
        <input id="logo" type="image" src="../../static/user-manager/img/StuLiLogo.png" th:src="@{user-manager/img/StuLiLogo.png}" alt="">
    </div>
    <div class="navbar">
        <nav>      
            <ul>
                <li>
                    <a class="nav-link" href="/register">Register</a>
                </li>
                
                <li>
                    <a class="nav-link" href="/login">Login</a>
                </li>
                
                <li>
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>

    <div th:layout:fragment="content" class="container mySpace">
        <div class="jumbotron">
            <h1>Successed Logout!</h1>
            <h3>See you soon!</h3>
        </div>
    </div>

</body>

</html>

