<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="../static/productmanager/images/css/style.css" th:href="@{../productmanager/images/css/style.css}"/>
    <link rel="stylesheet" href="../static/productmanager/images/css/darkly/bootstrap.min.css" th:href="@{../productmanager/images/css/darkly/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>
</head>

<body>
<div class="wrapper">
    <header>
        <button class="backButton">
            <a href="dashboard.html"><img src="../static/productmanager/images/backButton.png" width="30" height="30" th:src="@{../productmanager/images/backButton.png}"/>
                Back
            </a>
        </button>
        <br>
    </header>
    <br>

    <div class="columnRight">
        <h1>Products</h1>
        <div class="searchBox">
            <form action="/products" method="get">
                <input class="input" type="text" name="name" id="name" placeholder="Search" autocomplete="off">
                <input type="submit" style="position: absolute; right: 9999px; width: 1px; height: 1px;"
                       tabindex="-1" />
            </form>
        </div>

        <hr>

        <div class="card">
            <div class="card card-body">
                <table class="productTable">
                    <tr th:each="product:${products}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.price} + ' €'"></td>
                        <td> <img th:src="@{${product.imageUrl}}" width="47" height="47"> </td>
                        <td id="addButton"><a th:href="@{/addProduct(name=${product.name})}" class="btn btn-dark">Add Product</a></td>
                    </tr>
                </table>
            </div>
        </div>

        <hr>

    </div>
</div>

</body>

</html>