<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/style.css}"/>
    <title>StudiLieferservice</title>
</head>

<body>
    <div class="header">
        <div class="logo">REWE</div>
        <div class="logoAdd">StudiLieferservice</div>
        <div class="headerTitle">Einkaufsliste</div>
    </div>

    <div class="columnLeft">
        <div class="title">
            Gruppe: <td th:text="${shoppingList.groupName}">Gruppenname</td>
        </div>

        <div class="element">
            <h3>Positionen:</h3>
            <tr th:each="item : ${shoppingList.items}">
                <p><b>- <td th:text="${item.name}"></td></b></p>
            </tr>
        </div>
    </div>

    <div class="columnRight">
        <div class="title">
            Artikel hinzufügen
        </div>

        <div class="element">
            <form th:action="@{/shoppingList/addItem}" th:object="${item}"  method="POST">
                <label for="productname">Produkte hinzufügen: </label>
                <input type="text" id="productname" th:field="*{name}" placeholder="Produkt" >
                <input type="hidden" name= "groupId"   th:value="${shoppingList.groupId}" />
                <input type="submit" value="Hinzufügen">
            </form>
        </div>
    </div>

    <div class="footer">
        Impressum
    </div>
</body>

</html>