<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>StudiLieferservice</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" type="text/css" href="../static/shoppinglistmanager/style.css"
      th:href="@{/shoppinglistmanager/style.css}" data-rd-options="include" />
<link href='https://fonts.googleapis.com/css?family=Patua One' rel='stylesheet' />
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
<rewe-digital-content>
    <div class="OuterBox">
        <div class="title">
            <h1>
                Shopping List
            </h1>
        </div>

        <div class="items">
            <table>
                <tr>
                    <th class="columns">Product&emsp; - &emsp;Price</th>
                    <th class="columns">Sum</th>
                    <th class="columns"></th>
                    <th class="columns">Amount</th>
                    <th class="columns"></th>
                </tr>

                <tr th:if="${!shoppingList.items.isEmpty()}" th:each="itemShoppingList : ${shoppingList.items}">
                    <td class="columns" th:text="${itemShoppingList.item.name+' - '+itemShoppingList.item.price+'€'}">produkt</td>

                    <td class="columns" th:text="${#numbers.formatDecimal(itemShoppingList.item.price*itemShoppingList.amount, 0, 2)+'€'} ">preis</td>

                    <td class="columns"><form th:action="${'http://' + link + ':9070/web/shoppingList/itemDecrease'}" method="POST">
                        <input type="image" th:src="@{/shoppinglistmanager/icons/minus.png}" alt="-">
                        <input type="hidden" name="shoppingListId" th:value="${itemShoppingList.shoppingList.id}">
                        <input type="hidden" name="itemName" th:value="${itemShoppingList.item.name}">
                    </form></td>

                    <td class="columns" th:text="${itemShoppingList.amount}">0</td>

                    <td class="columns"><form th:action="${'http://' + link + ':9070/web/shoppingList/itemIncrease'}" method="POST">
                        <input type="image" th:src="@{/shoppinglistmanager/icons/plus.png}" alt="+">
                        <input type="hidden" name="shoppingListId" th:value="${itemShoppingList.shoppingList.id}">
                        <input type="hidden" name="itemName" th:value="${itemShoppingList.item.name}">
                    </form></td>
                </tr>
            </table>
        </div>

        <div class="addProduct">
            <form th:action="${'http://' + link + ':9060/product/listProducts'}" method="GET">
                <input type="hidden" name="groupId" th:value="${shoppingList.group.id}">
                <input type="hidden" name="userId" th:value="${shoppingList.user.id}">
                <button type="submit" class="addProductButton">add products</button>
            </form>
        </div>

        <div class="line"></div>

        <div th:if="${totalPrice != 0}" class="sum">
            <pp th:text="${#numbers.formatDecimal(totalPrice, 0, 2)+'€'}">total</pp>
        </div>

    </div>
</rewe-digital-content>

</body>

</html>